
.banner{
        background-color: grey ;
        width : 1500px;
        height : 100px;
        margin-bottom : 100px;

}

.banner-text{

top : 50px;
left : 200px;
right : 100px;
bottom : 100px;
position : absolute;
transform : transform;


}